- block:
  - set_fact:
      iroha_nodes: []
      iroha_peers_map: []

  - name: generate hostnames (no overlay)
    set_fact:
      iroha_nodes: "{{ iroha_nodes }} + [ '{{ inventory_hostname }}:{{ iroha_peer_port | int + item | int }}' ]"
    loop: "{{ range(0, iroha_replicas |int) | list }}"
    when: not iroha_custom_hostnames and not iroha_overlay_network

  - name: generate hostnames (overlay)
    set_fact:
      iroha_nodes: "{{ iroha_nodes }} + [ '{{ iroha_container_basename }}-{{ item }}-{{ inventory_hostname | checksum | regex_replace('(^[a-fA-F0-9]{8}).+$', '\\1') }}:{{ iroha_peer_port }}' ]"
    loop: "{{ range(0, iroha_replicas) | list }}"
    when: not iroha_custom_hostnames and iroha_overlay_network

  - name: generate hostnames (iroha_custom_hostnames)
    set_fact:
      iroha_nodes: "{{ iroha_nodes }} + [ '{% if item.split(':') | length < 2 %}{{ item }}:{% if iroha_overlay_network %}{{ iroha_peer_port }}{% else %}{{ iroha_peer_port | int + idx }}{% endif %}{% else %}{{ item }}{% endif %}' ]"
    when: iroha_custom_hostnames and iroha_hostnames is defined
    loop: "{{ iroha_hostnames }}"
    loop_control:
      index_var: idx

  - set_fact:
      iroha_peers_map: "{{ iroha_peers_map }} + [ {{ {'hostname': item, 'human_hostname': 'c_' + item | regex_replace('[^0-9a-zA-Z]+', '_'), 'peer_port': item.split(':')[1] } }} ]"
    loop: "{{ iroha_nodes }}"

  - set_fact:
      iroha_inventory_human_hostname: "{{ 'c_' + inventory_hostname | regex_replace('\\.', '_') }}"

  - debug:
      var: iroha_peers_map

  - debug:
      var: iroha_inventory_human_hostname

  - set_fact:
      iroha_nodes: "{{ iroha_peers_map }}"

  - set_fact:
      iroha_all_nodes: "{{ iroha_all_nodes | default([]) }} + {{ hostvars[item]['iroha_nodes'] }}"
    loop: "{{ ansible_play_hosts }}"
    run_once: yes

  become: no
  delegate_to: localhost
  when: iroha_init_vars
  tags: ["iroha-docker", "iroha-init-vars"]
