version: "2.4"

services:
{% for node in iroha_nodes %}
  {{ node.human_hostname }}:
    image: {{ iroha_docker_image }}:{{ iroha_docker_tag }}
{% if iroha_network != 'external' %}
    container_name: {{ node.hostname.split(':')[0] }}
    expose:
      - {{ iroha_peer_port }}
    ports:
      - {{ iroha_torii_port | int + loop.index - 1 }}:{{ iroha_torii_port }}
{% else %}
    container_name: {{ iroha_container_basename }}-{{ node.human_hostname }}
    ports:
      - {{ node.peer_port }}:{{ iroha_peer_port }}
      - {{ iroha_torii_port | int + loop.index - 1 }}:{{ iroha_torii_port }}
{% endif %}
    environment:
      - "KEY={{ node.hostname }}"
      - "IROHA_POSTGRES_HOST={{ iroha_inventory_human_hostname }}-postgres"
{% for env_variable in iroha_docker_env_variables.items() %}
      - "{{ env_variable[0] }}={{ env_variable[1] }}"
{% endfor %}
{% if iroha_docker_labels %}
    labels:
{% for label in iroha_docker_labels.items() %}
      - "{{ label[0] }}={{ label[1] }}"
{% endfor %}
{% endif %}
    volumes:
      - {{ iroha_volume_dir }}iroha_block_store-{{ node.human_hostname }}:/tmp/block_store
      - ./conf/{{ node.human_hostname }}:/opt/iroha_data
    depends_on:
      - {{ iroha_inventory_human_hostname }}-postgres
    networks:
      - {{ iroha_network_name }}
      - iroha-db-net
    logging:
      driver: "json-file"
      options:
        max-size: "{{ iroha_docker_logging_max_size }}"
        max-file: "{{ iroha_docker_logging_max_file }}"
{% if iroha_docker_mem_limit %}
    mem_limit: "{{ iroha_docker_mem_limit }}"
{% endif %}
    restart: always

{% endfor %}

  {{ iroha_inventory_human_hostname }}-postgres:
    image: {{ iroha_postgres_docker_image }}:{{ iroha_postgres_docker_tag }}
    container_name: {{ iroha_inventory_human_hostname }}-postgres
    environment:
      POSTGRES_PASSWORD: {{ iroha_postgres_password }}
    expose:
      - {{ iroha_postgres_port }}
{% if postgres_docker_labels %}
    labels:
{% for label in postgres_docker_labels.items() %}
      - "{{ label[0] }}={{ label[1] }}"
{% endfor %}
{% endif %}
    volumes:
      - {{ iroha_volume_dir }}psql_storage-{{ iroha_inventory_human_hostname }}:/var/lib/postgresql/data
    networks:
      - iroha-db-net
    restart: always
{% if iroha_postgres_commands is defined %}
    command: {{ iroha_postgres_commands }}
{% endif %}

{% if iroha_volume_dir == "" %}
volumes:
{% for node in iroha_nodes %}
  iroha_block_store-{{ node.human_hostname }}:
{% endfor %}
  psql_storage-{{ iroha_inventory_human_hostname }}:
{% endif %}

networks:
  {{ iroha_network_name }}:
    external:
      name: {{ iroha_network_name }}
  iroha-db-net:
    name: iroha-db-net
